/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  height: 9.6rem;

  padding: 0 3.2rem;
  max-width: 160rem;
  margin: 0 auto;
}

.logo {
  height: 3rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 700;
  font-family: "Open Sans";

  padding: 1.8rem 6.4rem;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.144);
  font-size: 1.6rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #ced4da;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  padding: 4.8rem 0 6.4rem 0;
}

.hero {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 7rem;
  align-items: center;
}

.hero-description {
  font-family: "Open Sans";
  font-size: 1.9rem;
  font-weight: 500;

  line-height: 1.4;
  color: black;
  margin-bottom: 2.4rem;
}

.hero-img {
  width: 100%;
}

/**************************/
/* Grid-One-Section */
/**************************/

.grid-one-section {
  margin: 10rem 0 2.4rem 0;
}

.Grid-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  align-items: center;

  max-width: 160rem;
  margin: 0 auto;
  padding: 9.6rem 3.2rem 2.4rem 9.6rem;
  border-radius: 30px;
  margin-bottom: 9rem;

  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.144);
}

.grid-one-description {
  font-family: "Open Sans";
  font-size: 1.9rem;
  font-weight: 500;

  line-height: 1.4;
  color: #868e96;
}

.hero-text-box {
  width: 80%;
}

.hero-img-box {
  justify-self: right;
}

.img-helper {
  justify-self: left;
}

.Grid-one-img {
  width: 50rem;
}

/**************************/
/* CTA BOX*/
/**************************/

.cta-box {
  padding: 3.2rem 4.8rem 2.8rem 4.8rem;
  border-radius: 30px;
  width: 80rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  left: 27%;
  bottom: -20%;

  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.144);
}

.cta-heading {
  color: hsl(192, 100%, 9%);
  font-family: "Poppins";
  margin: 3rem 3rem;

  font-size: 3rem;
}

/**************************/
/* FOOTER SECTION*/
/**************************/

.section-footer {
  margin-top: 20.8em;
  padding: 12.8rem 0 3.2rem 0;
  background-color: hsl(192, 100%, 9%);
}

.footer-box {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  align-items: center;

  max-width: 160rem;
  margin: 0 auto;
}

.footer-logo {
  display: block;
  margin-bottom: 2.2rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.contact-box {
  display: flex;
  gap: 3rem;
}

.contact-icon {
  height: 2rem;
  width: 2rem;
}

.contact-address {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Open Sans";
  line-height: 1.6;
}

.links-col {
  justify-self: center;
}

.social-col {
  justify-self: center;
  /* display: flex; */
}

.link-box {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.social-box {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.link-item:link,
.link-item:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  fill: #fff;
}
